* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}
h1,
h2 {
  color: white;
  padding-top: 10px;
}

.header {
  font-size: 250%;
}

.app-container {
  /* padding-top: 100px; */
  /* width: auto;
  height: 100%;
  display: grid; */
  height: 85vh;
  /* justify-content: center;
  align-items: center; */
}

.mainInfo {
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: #efefef;
}

.mainInfo p {
  font-size: 150%;
  padding: 1em;
}

.main-container {
  min-width: 900px;
  /* height: 1000px; */
  /* display: grid; */
  border: 1px solid #999;
  border-radius: 3px;
  /* grid-template-rows: 2fr 2fr; */
}

/* .top-section {
  display: grid;
  grid-template-columns: 2fr 2fr;
} */

/* .menuDiv {
  width: 200px;
  position: absolute;
} */

/* ul {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  height: 70px;
} */

li a {
  text-decoration: none;
  color: white;
  font-size: 150%;
}

.menuDiv li {
  list-style: none;
  padding: 2em 0 2em 2em;
  background-color: #2e7d32;
  /* background-color: #215b21; */
  margin: 5px;
}
.menuDiv {
  background-color: #2e7d32;
}

li {
  list-style: none;
}

/* li.liMenu > a.active {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  background-color: blue;
} */

.selectedLink {
  border-left: 5px solid #fff;
  /* color: #46454e; */
  font-size: 180%;
  padding-left: 20px;
}

.top-container {
  /* display: grid;
  grid-template-rows: 1fr 2fr;
  background-color: #c2c6ca;
  height: 100%;
  width: 100%; */
  font-family: Oxygen, sans-serif;
  justify-content: center;
}

/* .title {
  font-size: 22px;
  padding: 20px;
  float: right;
} */

.weather-container {
  display: grid;
  text-align: center;
}

.inner-container {
  display: flex;
  /* grid-template-columns: 1fr 1fr;
  justify-content: center; */
}

.current-weather {
  font-size: 250%;
}

.footer {
  font-size: 200%;
}

.additionalInfo {
  text-align: start;
  margin: 10px;
  background-color: #efefef;
  padding: 20px;
  font-size: 25px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.additionalInfo svg {
  font-size: 50px;
}

.additionalInfo p {
  font-size: 25px;
  padding: 1em;
}

.additionalInfo .title {
  font-weight: 800;
  text-align: left;
}

.additionalInfo .value {
  text-align: left;
  padding-left: 20px;
}

.inner-container.img {
  width: 140%;
}

.btn-select-location {
  margin-bottom: 10px;
}

.results {
  background-color: white;
  position: absolute;
  /* margin-top: 30px; */
  /* margin-left: 45px; */
  padding: 10px;
  padding-top: -200px;
  width: 409px;
  height: auto;
  top: 66px;
  left: 35px;
}

.hide {
  display: none;
}

.results.hide {
  display: none;
}

.results p {
  padding: 2px;
}

.results p:hover {
  color: red;
}

.mainWrapper {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100vw;
  height: 100%;
}

.currentWeather {
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  /* padding-right: 400px; */
  /* display: grid;
  grid-template-columns: 3fr 2fr; */
}

.image img {
  width: 300px;
}
