.alertDesc {
  padding: 10px;
  /* display: grid; */
  /* grid-template-columns: minmax(200px, 50%); */
  background-color: #efefef;
}

/* .singleAlert {
  text-align: left;
  padding: 2em;
  width: 60%;
} */

.alertTitle {
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.mainAlertDiv {
  padding: 20px;
  color: #404040;
}
